{{!< default}}

{{> cover this}}

<section class="wrapper" tabindex="0">
  <div class="wrapper-container">
    {{> custom/featured this}}

    <section class="post-list">
      {{#get "posts" filter="featured:true" limit="all" as |featured|}}
        {{#foreach featured}}
          {{> post/list this}}
        {{/foreach}}
      {{/get}}
    </section>

   {{"#posts"}}
    <section class="post-list">
      {{#foreach posts}}
        {{> post/blist this}}
      {{/foreach}}
    </section>

    {{#if pagination}}
      {{pagination}}
    {{/if}}

    {{> footer this}}
  </div>
</section>
