{{!< default}}

{{> cover this}}

<section class="wrapper" tabindex="0">
  <div class="wrapper-container">
    {{> custom/featured this}}

    <section class="post-list">
      {{#get "posts" featured="true" as |featured|}}
        {{#foreach featured}}
          {{> post/list this}}
        {{/foreach}}
      {{/get}}
    </section>

  </div>
</section>
