{{!< default}}

{{> cover this}}

<section class="wrapper" tabindex="0">
  <div class="wrapper-container">
    {{> custom/featured this}}

   {{"#posts"}}
    <section class="post-list">
        {{#foreach posts}}
          {{^if featured}}
            {{> post/blist this}}
          {{/if}}
        {{/foreach}}
    </section>

    {{#if pagination}}
      {{pagination}}
    {{/if}}

    {{> footer this}}
  </div>
</section>
