{{! write anything below this to get it featured on your front page }}
<div style="width:100%;">
<div style="width:100%; height:60px; "></div>
<!-- <p style="text-align:center;"><h2 style="text-align:center;">PPMessage - 开源在线客服</h2></p> -->
<p style="text-align:center;"><h2 style="text-align:center;">{{@blog.title}}</h2></p>
<p style="text-align:center;"><a href="https://www.ppmessage.com/user/#/app/signup-md/signup" class="btn btn-primary">开始使用PPMessage</a> </p> 
<p style="text-align:center;"><iframe src="https://ghbtns.com/github-btn.html?user=PPMESSAGE&repo=ppmessage&type=watch&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe></p>

<div>
<p style="text-align:center;
    margin-bottom: 1px;
    color: #2ecc40 !important;
    font-family: 'Lato', 'Helvetica Neue', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 100;
    line-height: 1em;
    text-transform: uppercase;"
    id="statistics_all_users"></p>
<p style="text-align:center; font-size:1rem; margin-top:0.5rem;">全球用户正在使用PPMessage服务</p>
</div>

<div style="width:100%; height:60px; "></div>
</div>


<script>
function statistics_all_users() {
jQuery.get("https://www.ppmessage.com/home/statistics").success(function(data) {
  console.log(data);                                                                               
  jQuery("#statistics_all_users").text(data);                                                 
});
}

statistics_all_users();
//setInterval(statistics_all_users, 5000);
</script>
