<article itemscope itemtype="http://schema.org/BlogPosting"
  role="article" class="post-item {{post_class}}">
  <header class="post-item-header">
    <h2 itemprop="name" class="post-item-title">
      <a href="{{url}}" itemprop="url" data-pjax title="{{{title}}}">
        {{{title}}}
      </a>
    </h2>
  </header>
</article>
