<article itemscope itemtype="http://schema.org/BlogPosting"
  role="article" class="post-item {{post_class}}">
  <header class="post-item-header">
    <h4 itemprop="name" class="post-item-title" style="font-size:medium;">
      <a href="{{url}}" itemprop="url" data-pjax title="{{{title}}}">
        {{{title}}}
      </a>
    </h4>
  </header>
</article>
